<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h1>Change Password</h1>
<form th:object="${user}" th:action="@{/updateUser}">
    <p>
        <input type="hidden" th:field="*{username}">
        <input type="hidden" th:field="*{enabled}">
        <input type="hidden" th:field="*{authorities}">
        New Password: <input type="password" th:field="*{password}" th:required="true">
    </p>
    <p>
        <input type="submit" value="OK">
    </p>
</form>
<br>
<input type="button" value="Go back" onclick="goBack()">
<script id="scr">
    function goBack() {
        history.go(-1)
    }
</script>
</body>
</html>