<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h1>Change Password</h1>
<form th:object="${user}" th:action="@{/updateUser}">
    <p>
        <input type="hidden" th:field="*{username}">
        <input type="hidden" th:field="*{enabled}">
        <input type="hidden" th:field="*{authorities}">
        New Password: <input type="password" th:field="*{password}">
    </p>
    <p>
        <input type="submit" value="OK">
    </p>
</form>
</body>
</html>