<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Info</title>
</head>
<body>
<h1>Change Personal Info</h1>
<form th:object="${client}" th:action="@{/updateClient}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{userDto.username}">
    <p>Name: <input type="text" th:field="*{name}"></p>
    <p>Surname: <input type="text" th:field="*{surname}"></p>
    <p>Birth Date: <input type="date" th:field="*{birthDate}"></p>
    <p>
        Sex: <select th:field="*{sexDto.name}">
        <option th:value="Male" th:text="Male"></option>
        <option th:value="Female" th:text="Female"></option>
    </select>
    </p>
    <p>Phone Number: <input type="text" th:field="*{phoneNumber}"></p>
    <p>Email: <input type="text" th:field="*{email}"></p>
    <p>
        <input type="submit" value="OK">
    </p>
</form>
</body>
</html>