<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find room</title>
</head>
<body>
<h1>Suitable rooms</h1>
<table th:border="1">
    <tbody>
    <tr>
        <td>Name</td>
        <td>Square</td>
        <td>Capacity</td>
        <td>Base price</td>
    </tr>
    <tr th:each="roomType: ${foundedRoomTypes}">
        <td th:text="${roomType.name}"/>
        <td th:text="${roomType.square}"/>
        <td th:text="${roomType.capacity}"/>
        <td th:text="${roomType.basePrice}"/>
        <td>
            <form th:action="@{/makeOrder}" th:object="${orderRequest}">
                <input type="hidden" th:field="*{checkInDate}">
                <input type="hidden" th:field="*{checkOutDate}">
                <input type="hidden" th:field="*{guestsCount}">
                <input type="hidden" class="form-control" th:value="${roomType.id}" id="roomTypeId" name="roomTypeId">
                <input type="submit" value="Order">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>