<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hotel Service</title>
</head>
<body>
<h1>Avenue Montaigne Hotel</h1>
<br>
<div sec:authorize="!isAuthenticated()">
    <input type="button" value="Login" onclick="window.location.href='/login'">
    <br>
</div>
<div sec:authorize="isAuthenticated()">
    <h3 th:text="${user.getName()}"></h3>
    <input type="button" value="My account" onclick="window.location.href='/personalAccount'">
    <br/>
    <input type="button" value="Log Out" onclick="window.location.href='/logout'"/>
</div>
<input type="button" value="Main Menu" onclick="window.location.href='/mainMenu'">
<br>
<input type="button" value="Booking" onclick="window.location.href='/chooseRoomType'">
<br>
<h4>Find a Room</h4>
<form th:action="@{/findRoom}" th:object="${searchCriteria}" method="get">
    Arrival <input type="date" th:field="*{arrivalDate}">
    Departure <input type="date" th:field="*{departureDate}">
    Guests <input type="text" th:field="*{guestsCount}">
    <input type="submit" value="Find room"/>
</form>
<h3>Available rooms</h3>
<table th:border="1">
    <tbody>
    <tr>
        <td>Name</td>
        <td>Square</td>
        <td>Capacity</td>
        <td>Base price</td>
        <td>Order</td>
    </tr>
    <tr th:each="roomType: ${availableRoomTypes}">
        <td>
            <b th:text="${roomType.name}"></b>
            <a th:href="@{/roomDetails(roomTypeId=*{roomType.id})}">
                <input type="button" value="Details"/>
            </a>
        </td>
        <td th:text="${roomType.square}"/>
        <td th:text="${roomType.capacity}"/>
        <td th:text="${roomType.basePrice}"/>
        <td>
            <a th:href="@{/makeOrder(roomTypeId=*{roomType.id})}">
                <input type="button" value="Order"/>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<h3>Service</h3>
<table th:border="1">
    <tbody>
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Buy</td>
    </tr>
    <tr th:each="service: ${services}">
        <td>
            <b th:text="${service.name}"></b>
            <a th:href="@{/serviceDetails(serviceId=*{service.id})}">
                <input type="button" value="Details"/>
            </a>
        </td>
        <td th:text="${service.basePrice}"/>
        <td>
            <a th:href="@{/infoBuyService(serviceId=*{service.id})}">
                <input type="button" value="Buy"/>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>