<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Service</title>
</head>
<body>
<h1>Hello Umar!</h1>
<br>
<br>
<h3>Available rooms</h3>
<table th:border="1">
    <tbody>
    <tr>
        <td>Name</td>
        <td>Square</td>
        <td>Capacity</td>
        <td>Base price</td>
    </tr>
    <tr th:each="roomType: ${availableRoomTypes}">
        <td th:text="${roomType.name}"/>
        <td th:text="${roomType.square}"/>
        <td th:text="${roomType.capacity}"/>
        <td th:text="${roomType.basePrice}$"/>
    </tr>
    </tbody>
    </table>
</body>
</html>