<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Service</title>
</head>
<body>
<h1>Avenue Montaigne Hotel</h1>
<br>
<input type="button" value="Main Menu" onclick="window.location.href='/mainMenu'">
<br>
<input type="button" value="Booking" onclick="window.location.href='/chooseRoomType'">
<br>
<h4>Find a Room</h4>
<form th:action="@{/findRoom}" th:object="${searchCriteria}" method="get">
    Arrival <input type="date" th:field="*{arrivalDate}">
    Departure <input type="date" th:field="*{departureDate}">
    Guests <input type="text" th:field="*{guestsCount}">
    <input type="submit" value="Find room"/>
</form>
<h3>Available rooms</h3>
<table th:border="1">
    <tbody>
    <tr>
        <td>Name</td>
        <td>Square</td>
        <td>Capacity</td>
        <td>Base price</td>
        <td>Order</td>
    </tr>
    <tr th:each="roomType: ${availableRoomTypes}">
        <td th:text="${roomType.name}"/>
        <td th:text="${roomType.square}"/>
        <td th:text="${roomType.capacity}"/>
        <td th:text="${roomType.basePrice}"/>
        <td>
            <a th:href="@{/makeOrder(roomTypeId=*{roomType.id})}">
                <input type="button" value="Order"/>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<h3>Service</h3>
<h3>Special offers</h3>
</body>
</html>